@charset "utf-8";
:root {
  --primary-color: #424250;
  --on-primary-color: white;
  --on-primary-dark: #adadb1;
  --primary-color-medium: #33333d;
  --primary-color-dark: #27272f;
  --primary-color-light: #bdc4f6;
  --secondary-color: #f2f2f2;
  --on-secondary-color: #4a4a4a;
  --shadow-color: #4a4a4a;
  --header-height: 5em;
  --logo-size: 3em;
  --image-button-size: 1.5em;
  --main-content-width: 80%;
  --social-icon-size: 3em;
  --social-icon-hover-color: var(--primary-color-light);

  @media only screen and (max-width: 768px) {
    --main-content-width: 100%;
  }

  @media only screen and (min-width: 1410px) {
    --main-content-width: 1128px;
  }
}

body {
  background: var(--secondary-color);
  margin: 0;
  font-family: Roboto;
  font-size: 1em;
  color: var(--on-secondary-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 2em;
}

.eila-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 1em 1em 1em;
  top: 0;
  background: var(--primary-color);
  height: var(--header-height);
  color: var(--on-primary-color);
}

nav {
  display: none;
}

.hero {
  margin-top: 3em;
}

.main-content-area {
  max-width: var(--main-content-width);
  margin-left: auto;
  margin-right: auto;
}

.main-body {
  color: var(--on-secondary-color);
}

.navbar {
  .logo,
  .logo-menu {
    text-decoration: none;
    width: var(--logo-size);
  }

  .menu-button {
    width: var(--image-button-size);
    cursor: pointer;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .nav-bar-inner {
    color: var(--on-primary-color);
    background: var(--primary-color);
    position: fixed;
    z-index: 999;
    width: 100%;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 1em 0em 1em 1em;

    a {
      color: var(--on-primary-color);
    }

    .menu-header {
      padding: 0em 1em 0em 1em;
    }

    .menu-close-button {
      float: right;
      width: var(--image-button-size);
      cursor: pointer;
      padding-top: 1em;
    }

    .primary-nav {
      margin-top: 2em;
    }

    li {
      display: block;
      padding: 1em 1em 1em 4em;
    }
  }
}

.nav-bar-show {
  display: block;
}

.text-body-bulleted {
  list-style-type: disc;
  padding-left: 1em;

  li {
    margin-bottom: 1em;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  a {
    font-size: var(--social-icon-size);
    transition: color 0.3s ease;
    text-decoration: none;

    &:hover {
      color: var(--social-icon-hover-color);
    }
  }
}

.youtube-overview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.youtube-overview {
  border-radius: 16px;
  box-shadow: 0px 2px 12px var(--shadow-color);
}

.eila-footer {
  padding: 0em;
  background: var(--primary-color-medium);
  color: var(--on-primary-color);
  font-size: 0.8em;

  a {
    color: var(--on-primary-color);
  }

  li {
    margin-bottom: 2em;
  }

  .app-store-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .app-store-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-store-icons a {
    display: inline-block;
  }

  .android {
    height: 70px;
    width: auto;
    max-width: 100%;
  }

  .apple {
    // Adjust the height to account for vertical padding in Google Icon
    height: calc(70px * (1 - 2 * 0.16));
    width: auto;
    max-width: 100%;
    box-sizing: content-box;
  }

  .footer-top {
    padding: 1em 2em 0em 2em;
  }

  .footer-body {
    padding: 1em 2em 1em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .bottom-section {
    margin-bottom: 1em;
  }

  .bottom-heading {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--on-primary-dark);
  }

  .footer-bottom {
    padding: 1em 2em 1em 2em;
    color: var(--on-primary-dark);
    background: var(--primary-color-dark);
  }

  .footer-bottom-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

@media only screen and (max-width: 480px) {
  .app-store-icons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }

  .app-store-icons {
    width: auto;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .eila-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .hero {
    margin-top: 3em;
  }

  .menu-button,
  .logo-menu,
  .menu-close-button {
    display: none;
  }

  .navbar .container {
    display: grid;
    justify-content: unset;
    grid-template-columns: auto auto;
  }

  .navbar .nav-bar-inner {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }

    li {
      padding: 1em;
    }

    .primary-nav {
      margin: 0;
    }
  }

  .eila-footer {
    .footer-bottom {
      padding: 1em 0em 1em 0em;
    }
  }
}
