:root {
  --primary-color: #424250;
  --on-primary-color: white;
  --on-primary-dark: #adadb1;
  --primary-color-medium: #33333d;
  --primary-color-dark: #27272f;
  --secondary-color: #f2f2f2;
  --on-secondary-color: #4a4a4a;
  --header-height: 2.5em;
  --image-button-size: 1.5em;
  --main-content-width: 80%;
}

body {
  background: var(--secondary-color);
  margin: 0;
  font-family: Roboto;
  font-size: 1em;
  color: var(--on-secondary-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 2em;
}

.eila-header {
  background: var(--primary-color);
  height: var(--header-height);
  padding-top: 1em;
  padding-bottom: 1em;
  color: var(--on-primary-color);
}

nav {
  display: none;
}

.navbar .logo {
  text-decoration: none;
  width: var(--header-height);
}

.navbar .menu-button {
  width: var(--image-button-size);
  cursor: pointer;
}

.navbar .nav-bar-inner {
  color: var(--on-primary-color);
  background: var(--primary-color);
  position: fixed;
  z-index: 999;
  width: 60%;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1em;
}

.navbar .nav-bar-inner a {
  color: var(--on-primary-color);
}

.navbar .nav-bar-inner .menu-close-button {
  float: right;
  width: var(--image-button-size);
  cursor: pointer;
}

.navbar .nav-bar-inner .primary-nav {
  margin-top: 2em;
}

.navbar .nav-bar-inner li {
  display: block;
  padding: 1em;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.nav-bar-show {
  display: block;
}

.main-content-area {
  max-width: var(--main-content-width);
  margin-left: auto;
  margin-right: auto;
}

.main-body {
  color: var(--on-secondary-color);
}

.text-body-bulleted {
  list-style-type: disc;
  padding-left: 1em;
}

.text-body-bulleted li {
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .menu-button,
  .menu-close-button {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .navbar .nav-bar-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar .nav-bar-inner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .nav-bar-inner .primary-nav {
    margin: 0;
  }
}

.eila-footer {
  padding: 0em;
  background: var(--primary-color-medium);
  color: var(--on-primary-color);
  font-size: 0.8em;
}

.eila-footer a {
  color: var(--on-primary-color);
}

.eila-footer li {
  margin-bottom: 2em;
}

.eila-footer .footer-top {
  padding: 1em;
}

.eila-footer .bottom-section {
  margin-bottom: 4em;
}

.eila-footer .bottom-heading {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--on-primary-dark);
}

.eila-footer .footer-bottom {
  padding-top: 1em;
  padding-bottom: 1em;
  color: var(--on-primary-dark);
  background: var(--primary-color-dark);
}
/*# sourceMappingURL=eila_css.css.map */