.bs-adaptive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--spacing-md);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
    padding: 0 0 var(--spacing-xxs);
}

.bs-adaptive-grid-card {
    @extend .bs-card;
    text-align: center;
    transition: var(--transition);
}

.bs-adaptive-grid-card h3 {
    margin: 0 0 var(--spacing-xxs);
}

.bs-adaptive-grid-icon {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-xxs);
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .bs-adaptive-grid-card {
        padding: var(--spacing-sm);
    }

    .bs-adaptive-grid {
        gap: var(--spacing-nm);
    }
}

@media (min-width: 601px) {
    .bs-adaptive-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .bs-adaptive-grid-card {
        border-radius: var(--card-radius-md);
    }
}

@media (min-width: 1200px) {
    .bs-adaptive-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Light-mode override */
body:not(.dark-mode) .bs-adaptive-grid-card {
    background: var(--primary-container-color);
}
