.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    a {
        font-size: var(--social-icon-size);
        transition: color 0.3s ease;
        text-decoration: none;
        color: var(--social-icon-color);

        &:hover {
            color: var(--social-icon-hover-color);
        }
    }
}

.youtube-overview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0;
}

.youtube-overview {
    border-radius: var(--card-radius-lg);
}

.app-store-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.app-store-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-store-icons a {
    display: inline-block;
}

.get-on-android {
    height: 70px;
    width: auto;
    max-width: 100%;
}

.get-on-apple {
    /* Adjust the height to account for vertical padding in Google Icon */
    height: calc(70px * (1 - 2 * 0.16));
    width: auto;
    max-width: 100%;
    box-sizing: content-box;
}

@media (max-width: 480px) {
    .app-store-icons-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }

    .app-store-icons {
        width: auto;
        justify-content: center;
    }
}
